th {
    font-size: 12px !important;
    height: 60px;
    font-weight: bold !important;
  }
  td{
    height: 60px;
    font-size: 14px !important;
  }
  .btn{
      background-color: #051c91;
  }
  td:first-child {
    color: #051c91 !important;
    font-size: 14px !important;
    font-weight: bold;
}
.avatar img{
    height: 28px !important;
    width: 28px !important;
    margin-top: 10px;
    z-index: 0;
}
.avatar{
    overflow: hidden;
}